.toolbar {
    max-width: 427px;

    ul {
        >p {
            width: 427px;
            background-color: rgba(85, 88, 93, 0.5);
            color: white;
            padding: 18px 20px;
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;
            // background: #212121;
        }
        
        li {
            display: flex;
            gap: 15px;
            border-bottom: 1px solid #685757;
            margin: 10px;
            padding-bottom: 10px;

            .description {
                div {
                    padding: 10px;
                    display: flex;
                    gap: 15px;

                    p {
                        color: #A4A4A4;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                p {

                    max-width: 290px;
                    font-size: 20px;
                    line-height: 23px;
                    font-style: normal;
                    color: white;
                }
            }

        }

    }
}