.compilation {
    margin-bottom: 60px;

    h2 {
        font-size: 40px;
        line-height: 47px;
        border-bottom: 1px solid #81BECB;
        padding-bottom: 30px;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }

}